@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer;

<h4> Edit this Engineer : @Html.DisplayFor(m => m.EngineerName) </h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.EngineerId)

  @Html.LabelFor(m => m.EngineerName)
  @Html.EditorFor(m => m.EngineerName)

  @Html.Label("Select machine")
  @Html.DropDownList("MachineId")
  <input type="submit" value="Save" />
}

